.banner{
	position: relative;
	overflow: hidden;
	background-color: #ccc;
	@include bg-cover();
	
	@include media-breakpoint-up(xl){
	}
	
	&:before{
		//@include filter-overlay($black,.1);
		//@include bg-cover();
	}
	>.container{
		position: relative;
	}
	
	.banner-inner{
		position: relative;
		z-index: 3;
		padding-top: 8rem;
		padding-bottom: 4rem;
		
		@include media-breakpoint-up(md){
			//padding-top: 8rem;
			//padding-bottom: 8rem;
		}
		
		@include media-breakpoint-up(lg){
			padding-top: 10rem;
			padding-bottom: 5rem;
		}
		
		@include media-breakpoint-up(xl){
			padding-top: 12rem;
			padding-bottom: 6rem;
		}
		
		&:before{
		}
		
		.banner-content{
			position: relative;
			z-index: 5;
		}
	}
	
	&.banner-interior{
	}
	
	.yoast-breadcrumbs{
		span,a{
			color: $white;
			font-weight: 600;
			@extend .text-shadow;
		}
		
		a{
			text-decoration: underline dotted 1px $white;
		}
	}
}