.btn{
	padding: .4rem 1.75rem;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;
	transition: color ease-in-out .3s,
				background-color ease-in-out .3s;
	
	&.btn-primary{
		color: $white;
		background-color: $tamarind;
		
		&:hover{
			background-color: $primary;
		}
	}
	
	&.btn-accent{
		padding: 0;
		background: transparent;
		
		&.btn-white{
			color: $white;
			@extend .text-shadow;
		}
		
		&.btn-primary{
			color: $primary;
		}
		
		&.btn-secondary{
			color: $secondary;
			
			i{
				color: $primary;
			}
		}
	}
	
	&.btn-solid{
		
	}
}