// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

$black: #000;
$neutral: #ccc;
$text: --bs-body-color;
$white: #fff;

$dark: #2f2f2f;
$chathams-blue: #175676;
$keppel: #38B085;
$light-gray: #e7e6e7;
$scorpion: #5E575E;
$silver: #b4b3b3;
$tamarind: #32161F;

$primary: $keppel;
$secondary: $dark;
$text: $scorpion;

$primary-font: "Cabin", serif;
$secondary-font: "Cabin", serif;

$nav-height: 90px;
$nav-height-lg: 100px;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px,
	xxl: 1560px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1240px,
	xxl: 1500px
);

$mw-xxl: map-get($container-max-widths, "xxl");
$mw-xl: map-get($container-max-widths, "xl");
$mw-lg: map-get($container-max-widths, "lg");
$mw-md: map-get($container-max-widths, "md");
$mw-sm: map-get($container-max-widths, "sm");

@mixin filter-overlay ($color, $opacity){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color, $opacity);
	content: '';
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin primary-font {
	font-family: $primary-font;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

@mixin secondary-font {
	font-family: $secondary-font;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

@mixin img-wrapper {
	position: relative;
	display: block;
	width: 100%;
}

@mixin cover{
	position: absolute;
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@mixin img-ratio ($ratio: 66%){
	padding-bottom: $ratio;
	
	img{
		@include cover();
	}
}

@mixin img-cover{
	height: 100%;
	
	img{
		@include cover();
	}
}


