.footer{
	position: relative;
	font-size: .875rem;
	color: $white;
	background-color: $primary;
	
	.footer-inner{
		
		>.container{
			position: relative;
			padding-top: 3rem;
			padding-bottom: 2rem;
			z-index: 5;
			
			@include media-breakpoint-up(lg){
				padding-top: 6rem;
				padding-bottom: 4rem;
			}
		}
	}
	
	.footer-list{
		@include list-unstyled();
		margin-bottom: 0;
		
		ul {
			@include list-unstyled();
			margin-bottom: 0;
		}
		
		li{
			padding-bottom: 1rem;
			color: $white;
			
			@include media-breakpoint-up(xxl){
				padding-bottom: 1.15rem;
				padding-left: .5rem;
			}
		}
		
		i{
			@include media-breakpoint-up(xxl){
				font-size: 1.35rem;
			}
		}
		
		a{
			text-decoration: underline dotted 1px $white;
		}
	}
	
	.footer-logo{
		max-width: 275px;
		filter: brightness(0) invert(1);
		
		@include media-breakpoint-up(lg){
		}
	}
	
	.footer-title{
		font-weight: 600;
		color: $white;
	}
	
	p,ul,span,a,address{
		color: $white;
		
		@include media-breakpoint-up(xl){
			font-size: 1rem;
		}
	}
	
	p{
	}
	
	a{
		text-decoration: none;
	}
	
	address{
		margin-bottom: 0;
	}
	
	hr{
		margin: 1.5rem 0;
		border-top: solid 1px $primary;
		opacity: 1;
	}
	
	.copyright{
		span{
			font-size: .875rem;
		}
	}
	
	.subfooter{
		padding: 1rem 0;
		background-color: rgba($black,.1);
	}
}