.project-item{
	.project-item-inner{
		display: block;
		width: 100%;
		text-decoration: none!important;
		
		.img-wrapper{
			box-shadow: 0 0 45px 0 rgba($black, 0);
			transition: box-shadow ease-in-out .3s;
		}
		
		&:hover{
			.img-wrapper{
				box-shadow: 0 0 45px 0 rgba($black, .2);
			}
			
			.btn{
				color: $primary;
				
				i{
					left: 4px;
				}
			}
		}
	}
}

.project-carousel{
	.carousel-item{
		@include img-wrapper();
		@include img-ratio(66%);
	}
}

.project-video-wrapper{
	@include img-wrapper();
	@include img-ratio(66%);
	background-color: $light-gray;
	
	&:before{
		@include filter-overlay($light-gray, 1);
		z-index: 5;
		transition: opacity ease-in-out .33s;
	}
	
	&.loaded{
		&:before{
			opacity: 0;
		}
	}
	
	iframe{
		@include video-cover();
	}
	
	.loader{
		@include abs-center();
		width: 100%;
		//height: 100%;
		text-align: center;
		//background-color: $light-gray;
		z-index: 8;
		
		.loader-icon{
			max-width: 200px;
		}
		
	}
}

.loading {
	margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  opacity: .75;
  span {
	display: inline-block;
	margin: 0 -.05em;
  }
}

.loading03 {
  span {
	margin: 0 -.075em;
	animation: loading03 .7s infinite alternate;
	@for $i from 1 through 6 {
	  &:nth-child(#{$i+1}) {
		animation-delay: #{$i*.1}s;
	  }
	}
  }
}
@keyframes loading03 {
  0% {
	transform: scale(1);
  }
  100% {
	transform: scale(.8);
  }
}

.facetwp-facet-project_types{
	.fs-wrap{
		position: relative;
		width: 100%;
		border-radius: 0;
		cursor: pointer;
		background-color: #fff;
		outline: none;
		
		.fs-label-wrap{
			border: 1px solid $secondary;
			
			.fs-label{
				padding: 8px 22px 8px 8px;
				font-size: 1rem;
				line-height: 1.1;
			}
		}
		
		&:-ms-expand{
			display: none;
		}
	}
}

.facetwp-facet-project_name{
	.facetwp-autocomplete{
		width: 100%;
		padding: 7px 22px 7px 8px;
		border: solid 1px $secondary;
		line-height: 1.1;
		font-size: 1rem;
		font-family: inherit;
	}
	.facetwp-autocomplete-update {
	  display: none;
	}

}

.facetwp-facet-project_location{
	display: flex;
	border:solid 1px $secondary;
	
	.facetwp-radio {
		flex: 1 1 0;
		width: 0;
		background: none;
		padding: .325rem; /* top/bottom right/left */
		margin: 0!important;
		border: none;
		border-radius: 0;
		background-image: none!important;
		text-align: center;
	  
	  &:not(:last-child){
		  border-right: solid 1px $secondary;
	  }
	  
	  &:hover,
	  &.checked {
		background-image: none!important;
		background-color: $primary;
		color: $white;
	  }
	  
	  .facetwp-counter{
		  display: none;
	  }
	}
}

.btn{
	&.clear-facets{
		padding: .4rem 1rem;
		border: solid 1px $secondary;
		background-color: #919090;
		color: $white;
		
		i{
			//transform: rotate(0deg);
			transition-duration: .75;
		}
		
		&:hover{
			background-color: $secondary;
			
			i{
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
			}
		}
	}
}

.adjacent-project{
	text-decoration: none;
	color: $secondary;
	
	i{
		position:relative;
		color:$primary;
		transition: all ease-in-out .3s;
		left: 0;
	}
	
	&:hover{
		i{
			left: 4px;
		}
		
		h5{
			color: $secondary;
		}
	}
	
	&.prev{
		&:hover{
			i{
				left: -4px;
				right: auto;
			}
		}
	}
}

body .facetwp-flyout {
	right: 0;
	transform: translateX(100%);
  }
  
.flyout-row h3{
	color: $secondary;
	@extend .h4;
}

