.facetwp-facet-project_types{
	.fs-wrap{
		position: relative;
		width: 100%;
		border-radius: 0;
		cursor: pointer;
		background-color: #fff;
		outline: none;
		
		.fs-label-wrap{
			border: 1px solid $secondary;
			
			.fs-label{
				padding: 8px 22px 8px 8px;
				font-size: 1rem;
				line-height: 1.1;
			}
		}
		
		&:-ms-expand{
			display: none;
		}
	}
}

.facetwp-facet-project_name{
	.facetwp-autocomplete{
		width: 100%;
		padding: 7px 22px 7px 8px;
		border: solid 1px $secondary;
		line-height: 1.1;
		font-size: 1rem;
		font-family: inherit;
	}
	.facetwp-autocomplete-update {
	  display: none;
	}

}

.facetwp-facet-project_location{
	display: flex;
	border:solid 1px $secondary;
	
	.facetwp-radio {
		flex: 1 1 0;
		width: 0;
		background: none;
		padding: .325rem; /* top/bottom right/left */
		margin: 0!important;
		border: none;
		border-radius: 0;
		background-image: none!important;
		text-align: center;
	  
	  &:not(:last-child){
		  border-right: solid 1px $secondary;
	  }
	  
	  &:hover,
	  &.checked {
		background-image: none!important;
		background-color: $primary;
		color: $white;
	  }
	  
	  .facetwp-counter{
		  display: none;
	  }
	}
}

.btn{
	&.clear-facets{
		display: block;
		width: 100%;
		padding: .4rem 1rem;
		
		i{
			//transform: rotate(0deg);
			transition-duration: .66;
		}
		
		&:hover{
			i{
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
	}
}
